terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
  }
  required_version = "~> 1.6.1"
}

module "core_remote_backend" {
  source = "./modules/s3-backend"
}
